html, body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  width: 100%;
  max-width: 1500px; /* Set a maximum width for the nav */
  display: flex;
  justify-content: space-between; /* Space out items between left and right */
  align-items: center;
  padding: 10px 0; /* Adjust padding for spacing */
}

.logo1 {
  width: 525px; /* Adjust width as needed */
}

.nav-right {
  display: flex;
  align-items: center;
}


.logo2 {
  width: 80px;
  padding-left: 600px;
}

.logo3 {
  width: 100px;
}

.logo4 {
  width: 60px;
}

.container {
  margin-top: 20px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1400px; /* Set a maximum width for the container */
  margin: 0 auto; /* Center the container */
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #555555; /* Background color for the form group */
  border-radius: 5px;
}

form > .form-group > label {
  /* Adjusted margin for better spacing */
  font-size: 18px; /* Increased font size */
}

select {
  height: 50px; /* Increased height */
  width: 180px; /* Increased width */
  font-size: 16px; /* Increased font size */
  border-radius: 5px;
  display: inline-block; /* Ensure the select menu is inline-block */
  background-color: #282a2c; /* Background color */
  color: white; /* Text color */
}

select option {
  background-color: black;
}

select:hover {
  background-color: #a01300; /* Change background color on hover */
  color: white; /* Change text color on hover */
}

h2 {
  margin-top: 0;
  text-align: center;
  font-size: 24px; /* Increased font size */
}

button {
  background-color: #282a2c;
  color: white;
  padding: 15px 30px; /* Increased padding */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 220px;
  font-size: 18px; /* Increased font size */
}

button:hover {
  background-color: #a01300;
}

.date {
  height: 50px; /* Match height with select elements */
  width: 180px; /* Match width with select elements */
  font-size: 16px; /* Match font size with select elements */
  border-radius: 5px; /* Match border radius with select elements */
  background-color: #282a2c; /* Match background color */
  color: white; /* Match text color */
  border: 1px solid #555; /* Border styling */
  padding: 0 10px; /* Padding for better appearance */
}

.date::-webkit-calendar-picker-indicator {
  background-color: #282a2c; /* Background color of the calendar picker */
  color: white; /* Text color */
}

.date:hover {
  background-color: #a01300; /* Change background color on hover */
  color: white; /* Change text color on hover */
}

.date:focus {
  outline: none; /* Remove default outline */
  border-color: #a01300; /* Border color on focus */
  background-color: #333; /* Background color on focus */
}

.plots {
  width: 60%; /* Adjust the width as needed */
  margin: 20px auto;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plots img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* Ensures the image is contained within the container without being cut off */
}

p {
  font-size: 18px; /* Increased font size for the processing message */
  color: #a01300; /* Styled the processing message */
}
