html, body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;   
}

nav {
  width: 100%;
  max-width: 1500px; /* Set a maximum width for the nav */
  display: flex;
  justify-content: space-between; /* Space out items between left and right */
  align-items: center;
  padding: 10px 100px; /* Adjust padding for spacing */
}

.logo1 {
  width: 525px; /* Adjust width as needed */
}

.nav-right {
  display: flex;
  align-items: center;
}


.logo2 {
  width: 80px;
  padding-left: 600px;
}

.logo3 {
  width: 100px;
}

.logo4 {
  width: 60px;
}

.container {
  margin-top: 20px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1400px; /* Set a maximum width for the container */
  margin: 0 auto; /* Center the container */
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin-right: 20px;
  
}

.form-group {
  display: flex;
  flex-direction: column;
}


form > .form-group > label {
  /* Adjusted margin for better spacing */
  font-size: 18px; /* Increased font size */
}

select {
  height: 50px; /* Increased height */
  width: 180px; /* Increased width */
  font-size: 16px; /* Increased font size */
  border-radius: 5px;
  display: inline-block; /* Ensure the select menu is inline-block */
  background-color: #282a2c; /* Background color */
  color: white; /* Text color */
}

select option {
  background-color: black;
}

select:hover {
  background-color: #a01300; /* Change background color on hover */
  color: white; /* Change text color on hover */
}

h2 {
  margin-top: 0;
  text-align: center;
  font-size: 24px; /* Increased font size */
}

button {
  background-color: #282a2c;
  color: white;
  padding: 15px 30px; /* Increased padding */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 220px;
  font-size: 18px; /* Increased font size */
}

button:hover {
  background-color: #a01300;
}

.date {
  height: 50px; /* Match height with select elements */
  width: 180px; /* Match width with select elements */
  font-size: 16px; /* Match font size with select elements */
  border-radius: 5px; /* Match border radius with select elements */
  background-color: #282a2c; /* Match background color */
  color: white; /* Match text color */
  border: 1px solid #555; /* Border styling */
  padding: 0 10px; /* Padding for better appearance */
}

.date::-webkit-calendar-picker-indicator {
  background-color: #282a2c; /* Background color of the calendar picker */
  color: white; /* Text color */
}

.date:hover {
  background-color: #a01300; /* Change background color on hover */
  color: white; /* Change text color on hover */
}

.date:focus {
  outline: none; /* Remove default outline */
  border-color: #a01300; /* Border color on focus */
  background-color: #333; /* Background color on focus */
}



p {
  font-size: 18px; /* Increased font size for the processing message */
  color: black; /* Styled the processing message */
}


.static  {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding:0px 100px;

}
.logo5 {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 500px; /* Adjust as needed */
  overflow: hidden;
  width: 100%;
  height: 100%;
  object-fit: contain; /* or cover, depending on your needs */
}

.scrollable-content {
  grid-column: 2;
  grid-row: 1;
  overflow-y: auto;
  max-height: 480px; /* Adjust as needed */
  padding: 10px;
  border: 1px solid #ddd;
}



/* Styling for content sections */
.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 40px;
  padding:0px 100px;
}



/* Form input and label styling */
form label {
  display: block;
  margin: 15px 0 5px;
  font-weight: bold;
}

form select,
form input[type="date"]
 {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}



/* Error message styling */
.error {
  color: red;
  margin-top: 10px;
}

/* Styling for the plot container */
.plot-container {
  flex: 1;
  max-width: 100%;
  text-align: center;
  
}
.plot-containermap {
  flex: 1;
  
  max-width: 100%;
  text-align: center;
  
}
.plot-containermap .image{
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  width:820px;
  padding-top: 25px;
}

/* Styling for images */
.image-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image-container {
  margin: 20px 0;
}

.image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  width:1000px;
  padding-top: 25px;
}

.image-label {
  margin-top: 8px;
  font-weight: bold;
}

